$portGore: #1f2154;
$mountainMeadow: #1fad96;
$texasRose: #febc4d;
$doveGay: #6c6c6c;
$mandy: #e25a6d;
$royalBlue: #7355e7;
$thunderbird: #cc1b17;
$dodgerBlue: #1f9efb;
$rhino: #293259;
$hintOfRed: #f6f3f6;
$coralTree: #a65e6d;
$grayChateau: #9da1aa;
$anzac: #e2a957;
$blueMaguerite: #6a5ad0;
$shadyLady: #9b999b;
$jungleGreen: #27ab94;
$corduroy: #616865;
$ronchi: #efb056;
